/* Nav */

nav {
  margin-top: 0.4rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nav-logo span {
  position: relative;
  right: 2rem;
  font-size: 1.9rem;
  font-weight: bold;
}

.nav-logo p {
  font-size: 1.6rem;
  position: relative;
  right: 1.8rem;
}

.nav-logo img {
  width: 35px;
  height: 35px;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.nav-content a {
  padding: 1rem;
}

@media (max-width: 700px) {
  .nav-content ul {
    width: 100%;
    position: absolute;
    top: 3.8rem;
    right: 0;
    text-align: center;
  }
  .nav-content a {
    padding: 0.5rem;
  }
}

/* Home */

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.footer-icon {
  display: flex;
  gap: 1rem;
}

@media (max-width: 480px) {
  footer {
    margin-bottom: 0.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
  }
  footer span {
    order: 1;
  }
}
